<div class="card">
  <div class="card-header" style="background: blue; color:white">
    <h2>About</h2>
  </div>
  <div class="card-body">

    <p class="card-text">Upgrade your HR teams and employees with the powerful tools across Hire to Retire processes
      including ATS, recruitment, onboarding, confirmation, payroll, appraisal, and automating all aspects of HR
      functions. Utilize L&D and training management modules to monitor and upskill employees offering training
      integrated with Performance Management. Track employee progress with training evaluation monitoring with
      integrated upskill and cross skill trainings Offer seamless quick and digital expenses management for your
      employees, automate shift and hybrid working with rosters management, multi-language accessibility for your
      employees: all from a single HRMS platform: Pocket HR Platform.
      Upgrade your HR teams and employees with the powerful tools across Hire to Retire processes including ATS,
      recruitment, onboarding, confirmation, payroll, appraisal, and automating all aspects of HR functions. Utilize
      L&D and training management modules to monitor and upskill employees offering training integrated with
      Performance Management. Track employee progress with training evaluation monitoring with integrated upskill
      and cross skill trainings Offer seamless quick and digital expenses management for your employees, automate
      shift and hybrid working with rosters management, multi-language accessibility for your employees: all from a
      single HRMS platform: Pocket HR Platform.
    </p>

  </div>
</div>