<div class="row">
    <div class="col-md-12">

        <h2>Login</h2>
        <hr />

        {{#if errorMessage}}
        <div class="alert alertdanger"> <strong>Error:</strong> {{errorMessage}}</div>
        {{/if}}

        <form method="post" action="/login">
            <input class="form-control" id="userName" required name="userName" type="text" value="{{userName}}"
                placeholder="User Name" />
            <br>

            <input class="form-control" id="password" required name="password" type="password" placeholder="Password" />
            <br>
            <input type="submit" class="btn btn-primary pull-right" value="Login" /><br /><br /><br />
        </form>
    </div>
</div>