<div class="row">
    <div class="col-md-12">

        <h2>Register</h2>
        <hr />

        {{#if errorMessage}}
        <div class="alert alertdanger"> <strong>Error:</strong> {{errorMessage}}</div>
        {{/if}}

        {{#if successMessage}}

        <div class="alert alert-success">
            <strong>Success:</strong> {{successMessage}}
        </div>
        <a class="btn btn-success pull-right" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log
            in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />

        {{else}}

        <form method="post" action="/register">
            <div class="form-group">
                <input class="form-control" id="userName" required name="userName" placeholder="User Name" type="text"
                    value="{{userName}}" />
            </div>

            <br>

            <div class="form-group">
                <input class="form-control" id="password" required name="password" type="password"
                    placeholder="Password" />
            </div>

            <br>

            <div class="form-group">
                <input class="form-control" id="password2" required name="password2" type="password"
                    placeholder="Confirm Password" />
            </div>

            <br>

            <div class="form-group">
                <input class="form-control" id="email" required name="email" type="email" placeholder="Email Address" />
            </div>

            <hr />

            <input type="submit" class="btn btn-primary pull-right" value="Register" /><br /><br /><br />

        </form>

        {{/if}}
    </div>
</div>